.bg-dark {
  min-width: 15vw;
  background: url("/images/bg-noise.jpg") repeat #080808;
  position: relative;
}
.dropdown-menu.show {
  opacity: 100 !important;
}
.sidebar-heading {
  color: #ffffff;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20vh;
}
.list-group-flush > .list-group-item {
  color: white;
  font-weight: 600;
}
.list-group .list-group-item {
  border: none;
}
.list-group-item:first-child {
  margin-top: 10px;
}
