.bg-dark {
  min-width: 20%;
  background: url("/images/bg-noise.jpg") repeat #080808;
  position: relative;
}
.dropdown-menu.show {
  opacity: 100 !important;
}
.sidebar-heading {
  color: #ffffff;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 30px;
}
.list-group-flush > .list-group-item {
  color: white;
  font-weight: 600;
}
.list-group .list-group-item {
  border: none;
}
.list-group-item:first-child {
  margin-top: 10px;
}

.list-group-item.list-group-item-action.bg-dark.selected {
  color: orange;
  font-weight: 600;
}
.sidebar__content_wrapper {
  border-radius: 3px;
  border: 1px solid #383838;
  padding: 10px 15px;
  margin-top: 50px;
}
