.AAddAccountForm {
  display: flex;
  justify-content: center;
  .card {
    min-width: 50%;
    max-width: 50%;
  }
  .row {
    display: flex;
    justify-content: space-around;
    // .input__container {
    //   width: 100%;
    // }
  }
}
