.amount-input {
  width: inherit;
  border: none;
  text-align: right;
  background-color: #fafafa;

  &:hover {
    background-color: #eee;
  }
}

.input-group {
  flex-flow: row !important;
}

.rdt_TableRow:hover {
  .amount-input {
    background-color: #eee;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-import {
  .form-group {
    margin-bottom: 0;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .input-group {
    height: 100%;
  }
}
