.filter__dropdown {
  max-height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #e3e9ed !important;
  border-radius: 4px;
}

.filter__input {
  border: 1px solid #e3e9ed;
  color: #212121;
  font-size: 14px;
  height: 40px;
  border-radius: 4px;
  line-height: 18px;
  width: 100%;
  transition: all 0.2s ease-out;
  outline: none;
  position: relative;
  display: flex;
  overflow: hidden;
  background: #fff;
  padding: 0;
  justify-content: flex-start;
}

.filter__input--icon {
  align-self: center;
  flex: none;
  white-space: nowrap;
  height: 18px;
  color: #6c798f;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding-left: 10px;
}

.next-input.next-input--invisible {
  border: none;
  border-radius: 0;
  height: auto;
  padding: 0 0 0 10px;
}

.next-input {
  border: 1px solid #e3e9ed;
  color: #212121;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  line-height: 18px;
  display: block;
  width: 100%;
  transition: all 0.2s ease-out;
  outline: none;
}

.svg-next-icon {
  fill: currentColor;
}

.next-input__add-on--after {
  padding-left: 0;
  padding-right: 10px;
  cursor: pointer;
}

.next-input-add-on {
  align-self: center;
  flex: none;
  white-space: nowrap;
  height: 18px;
  color: #6c798f;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.btn-bg {
  background: #e9ecef !important;
  border-radius: 4px !important;

  &:hover {
    fill: #2962ff !important;
    color: #2962ff !important;
  }
}

.dropdown.ui-popover-placement-right .ui-popover {
  left: auto;
  right: 0;
}

.ui-popover {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  background-color: hsla(0, 0%, 100%, 0.98);
  box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05),
    0 2px 7px 1px rgba(39, 44, 48, 0.16);
  border-radius: 3px;
  max-width: none;
  opacity: 0;
  visibility: hidden;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.dropdown.ui-popover-arrow-right .ui-popover__tooltip {
  left: auto;
  right: 4%;
}

.ui-popover .ui-popover__tooltip {
  position: absolute;
  top: -20px;
  left: 50%;
  overflow: hidden;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  pointer-events: none;

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    transform: rotate(45deg);
    display: block;
    height: 10px;
    width: 10px;
    margin-left: -5px;
    background-color: hsla(0, 0%, 100%, 0.98);
    box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05),
      0 2px 7px 1px rgba(39, 44, 48, 0.16);
  }
}

.ui-popover--is-active {
  opacity: 1;
  visibility: visible;
  left: unset;
  z-index: 1;
}

.ui-popover .ui-popover__content-wrapper {
  display: flex;
  border-radius: 3px;
  max-width: 550px;

  .ui-popover__content {
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    border-radius: inherit;
    text-align: left;
    max-height: 100%;
    min-width: 150px;

    .ui-popover__pane {
      flex: 0 1 auto;
      border-radius: inherit;
      max-width: 100%;
      transition: box-shadow 0.2s ease;

      .ellipsis-item {
        border: none;
        text-align: left;
        outline: none;
        width: 100% !important;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 0;
        padding: 10px;
        display: block;

        &:hover {
          background: #2962ff !important;
          color: #fff !important;
        }
      }
    }
  }
}
