$primary: #f3ac00;

.footer {
  background: url("/images/bg-wood.jpg") repeat #000;
  a {
    text-decoration: none !important;
  }
  border: none;
  background-color: #4c4c4c;
  padding: 60px 0px 60px 0px;
  overflow: hidden;
  h4 {
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 23px;
    padding-bottom: 9px;
    line-height: 1.6em;
  }
  .sec-search {
    text-align: center;

    .row {
      padding: 0px 0px 20px 0px;
      display: block;
    }
  }

  .btn-search-shop {
    border-radius: 0px;
    background-color: #f15e2c;
    border: #f15e2c 1px solid;
    color: #fff;
    font-family: "Roboto Condensed";
    font-weight: 600;
    font-size: 23px;
    width: 279px;
    height: 40px;
  }

  .sec-cont-menu {
    min-height: 179px;
    overflow: hidden;
  }

  .sec-cont {
    ul {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 10px;
    }
    li {
      list-style: none;
      padding-bottom: 3px;
      a,
      a:active {
        color: #cccccc;
        font-family: "Roboto Condensed";
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

  .logo-footer {
    a {
      position: relative;
      bottom: -10px;
      display: block;
    }
  }
  .icon-bct {
    margin-top: 40px;
    margin-left: -3px;
  }

  .copyright {
    margin-top: 65px;
    font-family: "Roboto Condensed";
    font-size: 16px;
    letter-spacing: 1px;
    color: #808080;
  }
}
