$white: #fff;
$grey: #b9b9b9;
$primary: #f3a000;

.userhovercontent {
  &__container {
    color: $white;
  }
  &__row {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  &__divider {
    border-bottom: 1px solid #333;
    border-top: 1px solid #555;
  }
  &__label {
    text-decoration: none;
    color: $grey;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
  &__title {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #d0d0d0;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 10px 0;
    cursor: default;
  }
  &__subtitle {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #d0d0d0;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 10px 0;
    cursor: default;
  }
}
