.page-content-wrapper {
  flex: auto;
}
.homeSection .content {
  min-height: 50vh;
  display: grid;
  padding: 0;
}
.homeSection__header_title {
  font-size: 38px;
  padding: 0;
  margin: 15px 0 5px 30px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  font-weight: 700;
  text-align: left;
}
.homeSection__header_only {
  height: 70px;
}
.homeSection__header {
  background: none !important;
  padding-top: 40px;
}
