.page-content-wrapper {
  flex: auto;
  box-shadow: none !important;
}
.homeSection .content {
  min-height: 50vh;
  display: grid;
  padding: 0;
}
.homeSection__header_title {
  font-size: 29px;
  padding: 0;
  margin: 15px 0 5px 30px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: none;
  text-align: left;
}
.homeSection__header_only {
  height: 70px;
}
.homeSection__header {
  background: none !important;
  padding-top: 10px;
}
.empty-page {
  color: white;
  font-size: 30px;
}
.container {
  min-width: 100%;
  background: black;
}
.d-flex {
  padding: 0 10%;
}
.homeSection {
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid #383838;
  margin: 50px;
}
.item-card__container {
  background: none;
}
.bg-dark {
  background-color: black !important;
}
