.page-content-wrapper {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  box-shadow: none !important;
}
.homeSection .content {
  // min-height: 50vh;
  display: grid;
  padding: 0;
}
.homeSection__header_title {
  font-size: 29px;
  padding: 0;
  margin: 15px 0 5px 30px;
  color: white;
  font-weight: bold;
  text-transform: none;
  text-align: left;
}
.homeSection__header_only {
  height: 70px;
}
.homeSection__header {
  background: none !important;
  padding-top: 10px;
}
.empty-page {
  color: white;
  font-size: 30px;
}

.layout {
  display: flex;
  // margin-left: -15px;
  // margin-right: -15px;
  background: black;
}

.body-container {
  padding: 0 40px;
  max-width: 1480px !important;
  margin-left: auto;
  margin-right: auto;
}

.homeSection {
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid #383838;
  margin: 0;
}
.item-card__container {
  background: none;
  width: 25%;
  flex-shrink: 0;
  min-width: 240px;
}
.bg-dark {
  background-color: black !important;
}
