.loading-screen {
  width: calc(100vw - 250px);
  height: calc(100vh - 62px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba($color: #fff, $alpha: 0.2);
}
