.loader {
  display: block !important;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: -9999em;
  -webkit-animation: load 1.3s infinite linear;
  animation: load 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  text-decoration: none;
  color: #e5e5e5;
}

@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #fff, 2em -2em 0 0 #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 0 #fff;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #fff, 2em -2em 0 0.2em #fff, 3em 0 0 0 #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #fff, 2em -2em 0 0 #fff, 3em 0 0 0.2em #fff,
      2em 2em 0 0 #fff, 0 3em 0 -1em #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 0 #fff,
      2em 2em 0 0.2em #fff, 0 3em 0 0 #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 0 #fff, 0 3em 0 0.2em #fff, -2em 2em 0 0 #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 0 #fff, -2em 2em 0 0.2em #fff,
      -3em 0 0 0 #fff, -2em -2em 0 -1em #fff;
  }
  75% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 0 #fff,
      -3em 0 0 0.2em #fff, -2em -2em 0 0 #fff;
  }
  87.5% {
    box-shadow: 0 -3em 0 0 #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 0 #fff, -3em 0 0 0 #fff,
      -2em -2em 0 0.2em #fff;
  }
}
@keyframes load {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #fff, 2em -2em 0 0 #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 0 #fff;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #fff, 2em -2em 0 0.2em #fff, 3em 0 0 0 #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #fff, 2em -2em 0 0 #fff, 3em 0 0 0.2em #fff,
      2em 2em 0 0 #fff, 0 3em 0 -1em #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 0 #fff,
      2em 2em 0 0.2em #fff, 0 3em 0 0 #fff, -2em 2em 0 -1em #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 0 #fff, 0 3em 0 0.2em #fff, -2em 2em 0 0 #fff,
      -3em 0 0 -1em #fff, -2em -2em 0 -1em #fff;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 0 #fff, -2em 2em 0 0.2em #fff,
      -3em 0 0 0 #fff, -2em -2em 0 -1em #fff;
  }
  75% {
    box-shadow: 0 -3em 0 -1em #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 0 #fff,
      -3em 0 0 0.2em #fff, -2em -2em 0 0 #fff;
  }
  87.5% {
    box-shadow: 0 -3em 0 0 #fff, 2em -2em 0 -1em #fff, 3em 0 0 -1em #fff,
      2em 2em 0 -1em #fff, 0 3em 0 -1em #fff, -2em 2em 0 0 #fff, -3em 0 0 0 #fff,
      -2em -2em 0 0.2em #fff;
  }
}
