.pagination {
  margin-left: auto;
  margin-right: 0;
  float: right;
}
.pagination span {
  cursor: pointer;
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination span.active {
  color: orange;
}
