.input__field {
  background: transparent;
  border: none;
  border: 1px solid #e0e5ec;
  color: black;
  flex: 1;
  display: block;
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  margin-top: 0 !important;
}

.input__field-group {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input__container {
  margin-top: 30px;
}

.error {
  position: absolute;
  // color: $secondary;
}
