.navbarbutton {
  &__container {
    padding: 10px;
  }
}
.hovercontainer {
  transition: ease-in 0.25s;
  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
  &__display {
    opacity: 1;
  }
}
.navbarbutton__container {
  padding: 0 9px;
  padding: 0 35px;

  &:last-child {
    padding-right: 0;
  }

  &.pointer {
    cursor: pointer;
  }
  .float__number__wrapper {
    position: relative;
  }
  .float__number {
    display: block;
    position: absolute;
    text-align: center;
    line-height: 17px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    background: #f3ac00;
    top: -32px;
    right: -15px;
    padding: 0 1px 0 0;
  }
}

@media screen and (min-width: 641px) {
  .navbarbutton__container {
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  .navbarbutton__container:not(:last-child)::after {
    position: absolute;
    content: "";
    right: 0;
    top: calc(50% - 17px);
    background: rgba(255, 255, 255, 0.3);
    height: 34px;
    width: 1px;
  }
}
