.AddPromoteForm {
  .row {
    padding: 0 2%;
    justify-content: space-between;
  }
  .input__container {
    margin-top: 0px;
  }
  .wrap {
    width: 49%;
  }
  .btn {
    display: block;
    width: 100%;
    font-size: larger;
  }
}
