.AddPromoteForm {
  .card-body {
    margin-bottom: 5%;
  }
  padding: 0 6%;

  .row {
    padding: 0 2%;
    .input__container {
      width: 100%;
      margin-top: 30px;
    }
    justify-content: space-between;
  }

  .btn {
    display: block;
    width: 100%;
    font-size: larger;
  }
}
