$yellow2: #e3a20a;
$yellow1: #e29200;

.button-default {
  outline: none !important;
  text-decoration: none;
  border: none;
  min-width: 100px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  background: url("/images/bg-button.png") repeat-x $yellow1;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #fff;
  text-shadow: -1px -1px transparent;
  text-transform: uppercase;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  min-width: 20px;
  -webkit-transition: all 0.2s;
  -webkit-appearance: button;
  cursor: pointer;
  vertical-align: baseline;
  font-weight: 400;
  text-indent: 0px;

  text-transform: none;

  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  box-sizing: border-box;

  align-items: flex-start;

  display: inline-block;
  text-decoration: none;
  &:hover {
    background-color: $yellow2;
  }
}
