$primary: #f3ac00;

.image-selector-wrapper {
  .primary-img {
    width: 100% !important;
  }

  .image-container {
    width: 100%;
    //background: url("/images/bg-detail-shoe3.jpg") no-repeat 50% 50%;
    background-size: contain;
    margin: 0;
    text-align: center;
    position: relative;
  }
  .selector-container {
    max-width: 100%;
    margin: 25px 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $primary;
    }

    ul {
      border-spacing: 3px;
      display: table;
      padding: 0;
      box-sizing: content-box;
      white-space: nowrap;
      margin: 0 auto;
    }

    li {
      width: 76px;
      height: 76px;
      line-height: 76px;
      background: rgba(255, 255, 255, 0.2);
      text-align: center;
      margin: 0 2px;
      display: inline-block;
      opacity: 0;
      transition: all 0.2s ease-in-out !important;
      border: 1px solid transparent;
      img {
        width: 60px;
        border: 0;
        vertical-align: middle;
      }
    }

    li.visible {
      opacity: 1;
    }

    li.visible.selected {
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.35);
    }
  }

  .detail-final {
    display: table;
    line-height: 10px;
    margin: 0 auto;

    .facebook-social {
      background-color: #3c5a96;
      width: 86px;
      border-radius: 3px;
      margin: 0 12px 0 0;
    }

    .twitter-social {
      display: table-cell;
      background-color: #59adeb;
      width: 86px;
      border-radius: 3px;
      margin: 0 12px 0 0;
    }
  }
}
