.AddStockForm {
  .stockList {
    padding: 0;
    .Addbtn {
      display: block;
      width: 100%;
      font-size: larger;
    }
    .flex {
      width: 100%;
      align-content: center;
      .input__container {
        margin: 0;
      }
    }
    .removeBtn {
      position: absolute;
      top: 20%;
      right: 3%;
    }
    .stockListEle {
      padding: 5% 3%;
      border: solid 1px #e0e5ec;
      margin: 3% 2%;
      position: relative;
      list-style: none;
    }
  }
  .displayRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .displayCenter {
    justify-content: center;
    padding: 2% 0;
    display: flex;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    display: flex;
    width: 90%;
    background-color: white;
    flex-direction: column;
  }
}
