.new-product-section__container {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  padding: 60px 0;

  .section__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 15px;
    overflow: hidden;
  }

  .section__header-stack {
    display: flex;
    flex-direction: column;
  }

  .section__title {
    margin-bottom: 0;
    font-family: Arial;
    font-size: 29px;
    font-weight: 700;
  }

  .section__action-link {
    margin-left: 20px;
    flex-shrink: 0;
    font-weight: bolder;
    color: #ffc230;

    &:hover {
      transform: translateX(0);

      svg {
        opacity: 1;
        right: 0;
      }
    }
  }

  .link {
    transition: color 0.2s ease-in-out;
  }

  .icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    background: none;
    pointer-events: none;
    overflow: visible;
  }

  .link:hover,
  .link:focus {
    color: #ffc230;
  }

  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
    text-decoration: none;
  }

  .product-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    z-index: 1;

    &.loading {
      height: 100px;
    }
  }

  .product-item {
    position: relative;
    padding: 20px;
    min-width: 0;
    flex-shrink: 0;
    background: #151515;
    white-space: normal;
  }

  .product-item--horizontal,
  .product-item--list {
    display: flex;
  }

  .product-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 1px 0 #383838, 0 1px #383838;
    z-index: 2;
    pointer-events: none;
  }

  .product-item--horizontal .product-item__image-wrapper,
  .product-item--list .product-item__image-wrapper {
    flex: none;
    width: 120px;
    margin: 0 20px 0 0;
  }

  .product-item__image-wrapper {
    display: block;
    margin-bottom: 20px;
  }

  .product-item--horizontal .product-item__info,
  .product-item--list .product-item__info {
    padding: 4px 0;
    flex: 1 0 0;
  }

  .product-item__info {
    min-width: 0;
  }

  .aspect-ratio--square {
    padding-bottom: 100% !important;
  }
  .aspect-ratio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .aspect-ratio--square img,
  .aspect-ratio--short img,
  .aspect-ratio--tall img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .product-item__price-list {
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .price-list {
    line-height: 1;
  }
  .product-item__price-list .price {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .product-item .price {
    font-size: 15px;
  }
  .price {
    font-size: 15px;
    color: #ffc230;
  }
  .product-item__title {
    color: #fff;
    margin-bottom: 12px;
  }
  .product-item__vendor,
  .product-item__title {
    display: block;
    line-height: 1.55;
  }
  .price--highlight {
    margin-right: 0.7em;
    color: #ffc230;
    font-size: 24px;
  }
  .price--compare {
    position: relative;
    color: #d0d0d0;
    font-size: 15px;
  }
  .price--compare::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -3px;
    width: calc(100% + 6px);
    height: 1px;
    background: rgba(208, 208, 208, 0.7);
  }

  @media screen and (max-width: 999px) and (min-width: 641px) {
    .\31\/2--tablet {
      width: 50%;
    }
  }

  @media screen and (max-width: 640px) {
    .product-item--horizontal,
    .product-item--list {
      width: 100% !important;
    }
  }

  @media not all, (hover: hover) {
    .section__action-link:hover {
      transform: translateX(0);
    }

    .product-item__image-wrapper--with-secondary .product-item__primary-image,
    .product-item__image-wrapper--with-secondary
      .product-item__secondary-image {
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }
  }

  @media screen and (min-width: 1000px) {
    .\31\/3--lap-and-up {
      width: 33.333333%;
    }
    .product-list::before {
      position: absolute;
      content: "";
      width: 100%;
      height: calc(100% + 0px);
      border: 1px solid #383838;
      z-index: 1;
      pointer-events: none;
      border-radius: 3px;
    }
  }

  @media screen and (min-width: 641px) {
    .product-item__title {
      font-size: 14px;
    }
    .product-item--horizontal .product-item__info {
      flex: 1 0 0;
    }
    .product-item--horizontal .product-item__image-wrapper {
      width: 110px;
      margin-right: 20px;
    }

    .product-list {
      background: #151515;
      border-radius: 3px;
      border: none;
    }
    .section__header {
      overflow: visible;
      margin-bottom: 20px;
    }
    .section__header-stack {
      flex-direction: row;
      align-items: center;
    }

    .section__header-stack > .section__title {
      margin: 0 16px 0 0;
    }

    .section__action-link svg {
      position: relative;
      display: inline-block;
      height: 14px;
      width: 14px;
      vertical-align: -2px;
      margin-left: 8px;
      right: -5px;
      opacity: 0;
      transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .section__action-link {
      transform: translateX(26px);
      transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}
