.FilterBar {
  .navbar {
    background-color: #3b3b3b;
    border-radius: 5px;
    // margin: 0 15px 0 5px;
    margin: 0;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 600;
    font-size: 13px;

    &:hover,
    &:focus {
      background-color: #ffc230 !important;
    }
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    color: orange !important;
    background-color: transparent !important;
  }
  .dropdown-menu {
    background-color: #3b3b3b !important;
  }
  .dropdown-item {
    color: white !important;
  }
}
.FilterBar {
  border-bottom: 1px solid #383838;
  padding: 10px;
}
.FilterBar {
  border-bottom: 1px solid #383838;
  padding: 10px;
}
