.md__toast {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 16px 30px 16px 86px;
  border-radius: 5px;
  display: inline-flex;
  background: url("/images/bg-button.png") repeat-x white;

  &--success {
    border: 1px solid #1cde93;
  }

  &--info {
    border: 1px solid #f8a700;
  }

  &--error {
    border: none;
  }

  &--message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    color: #221e1f;
  }

  .icon {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    bottom: 20px;
    position: absolute;

    &--success {
      background: url("/svg/Success.svg") no-repeat;
    }

    &--info {
      background: url("/svg/Info.svg") no-repeat;
    }

    &--error {
      background: url("/svg/Error.svg") no-repeat;
    }
  }
}
